@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
$default_color: (
  "main": hsl(0, 0%, 98%),
  "nav": hsl(0, 0%, 100%),
  "reference": hsl(220, 16%, 96%),
  "font_color": hsl(233, 8%, 62%),
  "footer": hsl(233, 26%, 24%),
  "button-1": hsl(136, 65%, 51%),
  'button-2': hsl(192, 70%, 51%)
);
$main__font: 'Public Sans', sans-serif;
$default_size: 1rem;
$max_content: 100%;
$basic__padding: 8.4rem;
$request__button--background: linear-gradient(90deg, map-get($default_color,"button-1") 0%,map-get($default_color,"button-2") 100%,map-get($default_color,"footer"));
@mixin flex_item ($direction,$wrap) {
  display: flex;
  flex: {
    direction: $direction;
    wrap: $wrap;
  }
}
@mixin iphone_setting() {
  @media (max-width: 376px) {
    @content;
  }
}
@mixin ipad_setting() {
  @media (min-width:376px) and (max-width: 768px) {
    @content;
  }
}
@mixin none_display($width) {
  @media (max-width: $width) {
    display: none;
  }
}
@mixin set__button($top__margin) {
  @extend .button;
  margin-top: $top__margin;
}
@mixin center() {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

* {
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 300;
}

html {
  width: 100%;
}

body {
  display: grid;
  grid-template: fit-content(4000px) fit-content(500px)/auto;
  grid-template-areas: "article article " "footer footer";
  height: 100%;
  width: 100%;
  font-family: $main__font;
  margin-left: 0;
}

.responzive_sizing {
  width: 100%;
  padding: 2rem 0 4rem $basic__padding;
}

.main__heading {
  font-size: 54px;
  font-weight: 700;
  margin-block-end: 0;
}

.secondary__heading {
  color: black;
  font-size: 32px;
  font-weight: 400;
}

.medium__title {
  font-size: 20px;
  font-weight: 300;
  margin-block-start: 1.5rem;
  color: black;
}

.icon {
  width: max-content;
}

.button {
  padding: 0.8*$default_size 2*$default_size;
  background: $request__button--background;
  border-radius: 2*$default_size;
  width: 10*$default_size;
  font-size: 16px;
}

.nav {
  background: map-get($default_color,"nav");
  position: fixed;
  z-index: 100;
  justify-content: space-around;
  align-items: center;
  padding: $default_size 1*$default_size;
  @extend .responzive_sizing;
  top: 0;
  @include flex_item (row,nowrap);

  .nav__links {
    margin-right: -4rem;
    @include none_display(925px);
  }

  .hamburger__button {
    width: 50%;
    text-align: end;
    cursor: pointer;
    @media (min-width: 925px) {
      display: none;
    }
  }

  .button {
    @include none_display(925px);
  }

  a {
    margin: 0 1*$default_size;
    text-decoration: none;
    color: map-get($default_color,"font_color");
    font-size: 16px;
  }
}

.content__description {
  grid-area: article;
  background: map-get($default_color,"main");
  overflow: hidden;
  width: 100%;
  @include iphone_setting() {
    margin-top: -6rem;
  }

  .article {
    height: 43rem;
    width: $max-content;
    padding: 24rem 0 0 $basic__padding;
    @include flex_item (row,wrap-reverse);
    @include iphone_setting() {
      @include flex_item (column-reverse,nowrap);
      padding: 0;
      margin-bottom: 5rem;
      width: $max-content;
    }
    @include ipad_setting() {
      height: 54rem;
      padding: 0;
      margin-bottom: 8rem;
      justify-content: center;
    }

    .article__describe {
      @extend .main__heading;
      width: 45%;
      height: inherit;
      padding-top: 14rem;

      .button {
        @include set__button(2*$default_size);
      }
      @include iphone_setting() {
        padding-top: 0;
        @include center();
        width: 100%;
      }
      @include ipad_setting() {
        padding-top: 0;
        height: auto;
        @include center();
      }
      @include flex_item(column,nowrap);

      .article__title {
        width: 27*$default_size;
        font-size: 50px;
        @include iphone_setting() {
          width: 100%;
          font-size: 2rem;
          text-align: center;
        }
        @include ipad_setting() {
          margin-block-start: 0;
        }
      }

      .article__text {
        width: 25*$default_size;
        color: map-get($default_color,"font_color");
        @include iphone_setting() {
          font-size: 0.7rem;
          width: 16*$default_size;
          line-height: 1.5;
        }
      }
    }

    .mockups {
      background: url("images/bg-intro-desktop.svg") no-repeat;
      background-position: -3rem -1rem;
      width: 55%;
      @include iphone_setting() {
        width: $max-content;
        background-position: -5rem -3rem;
        background-size: 160%;
      }
      @include ipad_setting() {
        width: $max-content;
        max-width: 43rem;
        background-size: 49rem;
        background-position: 4rem 20rem;
        padding-bottom: 17rem;
      }

      .mockups__image {
        position: relative;
        left: 6.9rem;
        top: 7rem;
        @include iphone_setting() {
          top: 2rem;
          left: 0;
          width: 90%;
        }
        @include ipad_setting() {
          left: 3rem;
          top: 17rem;
          width: 37rem;
        }
      }
    }
  }

  .reference {
    color: map-get($default_color,"font_color");
    @extend .responzive_sizing;
    background: map-get($default_color,"reference");
    // padding: 2rem 0 0  $basic__padding;
    @include ipad_setting() {
      @include center();
    }

    .reference__describe {
      @include iphone_setting() {
        @include flex_item(column,nowrap);
        align-items: center;
      }
      @include ipad_setting() {
          @include flex_item(column,nowrap);
        @include center();
        text-align: center;
      }
    }

    .reference__title {
      @extend .secondary__heading;
      width: 10rem;
    }

    .reference__text {
      width: 36rem;
      @include iphone_setting() {
        width: 17rem;
        font-size: 0.7rem;
      }
      @include ipad_setting() {
        width: 17rem;
        padding: 0;
      }
    }
    @include iphone_setting() {
      width: $max-content;
      padding-left: 0;
      text-align: center;
      padding-top: 4rem;
    }
    @include ipad_setting() {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding-bottom: 5rem;
    }

    .reference__adv {
      @include flex_item(row,wrap);
      margin-top: 4rem;
      @include iphone_setting() {
        @include flex_item(column,nowrap);
        align-items: center;
        margin-top: 2.5rem;
      }
      @include ipad_setting() {
        justify-content: center;
      }

      .reference__adv--item {
        margin-right: 0.4*$default_size;
        padding-right: $default_size;
        @include flex_item(column,nowrap);

        .reference__medium--title {
          @extend .medium__title;
        }
        @include iphone_setting() {
          align-items: center;
          padding-right: 0;
          margin-right: 0;
          margin-top: 1*$default_size;
        }
        @include ipad_setting() {
          @include center();
          margin-right: 1rem;
          margin-left: 1rem;

        }

        .reference__adv--item-text {
          width: 16.4*$default_size;
          @include iphone_setting() {
            width: 16*$default_size;
            font-size: 0.7*$default_size;
          }
        }
      }
    }
  }

  .last_art {
    background: map-get($default_color,"main");
    @extend .responzive_sizing;
    @include flex_item(column,wrap);

    @include iphone_setting() {
      margin-left: 0;
      padding: 2rem 0 4rem;
      align-items: center;
    }
    @include ipad_setting() {
      @include center();
      padding-top: 5rem;
    }

    .last_art--heading {
      @extend .secondary__heading;
      // margin-left: $default_size;
      @include iphone_setting() {
        margin-left: 0;
        text-align: center;
      }
    }

    .last_art--items {
      @include flex_item(row,wrap);
      @include iphone_setting() {
        margin-left: 0;
        @include flex_item(column,nowrap);
      }
      @include ipad_setting() {
        @include center();
      }

      .last_art--item {
        width: min-content;
        margin-right: 1rem;
        color: map-get($default_color,"font_color");
        @include flex_item(column,nowrap);
        // align-items: end;
        @include iphone_setting() {
          @include center();
          text-align: left;
        }
        @include ipad_setting() {
          align-items: center;
        }

        .last_art--blok {
          width: 84%;
          text-align: left;
          background: map-get($default_color,"nav");
          // padding-left: 2*$default_size;
          padding: 1.5rem 5rem 2rem 2rem;
          margin-bottom: 1.5rem;
          @include iphone_setting() {}

          .small__title {
            font-size: 15px;
            font-weight: 300;
            color: black;
          }
        }

        .last-art--img {
          width: 300px;
          height: 200px;
          display: inline-block;
        }

        .small-font {
          font-size: 11px;
          margin-bottom: 0.5rem;
        }

        .last_art--text {
          margin-top: 0.4*$default_size;
          font-size: 14px;
          width: 13*$default_size;
          @include iphone_setting() {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.footer__nav {
  background: hsl(233, 26%, 24%);
  grid-area: footer;
  @include flex_item(row,wrap);
  align-items: center;
  justify-content: center;
  padding: 2rem 0 0;
  color: map-get($default_color,"font_color");
  // padding-left: 2*$default_size;
  @include iphone_setting() {
    @include flex_item(column,nowrap);
    justify-content: space-around;
    height: 150%;
    align-items: center;
  }
  @include ipad_setting() {
    @include flex_item(column,nowrap);
    @include center();
  }

  .logo {
    margin-bottom: 2*$default_size;
  }

  .footer__nav--social {
    margin-left: 8*$default_size;
    margin-right: 5*$default_size;
    margin-top: 1*$default_size;
    @include iphone_setting() {
      margin: 1rem 0 0;
    }
    @include ipad_setting() {
      @include center();
      padding-bottom: 3rem;
    }
  }

  .footer__nav--items {
    a {
      color: white;
      text-decoration: none;
    }
    @include flex_item(column,wrap);
    justify-content: space-around;
    width: 28rem;
    height: 80px;
    @include iphone_setting() {
      width: 100%;
      height: 12rem;
      align-items: center;
    }
    @include ipad_setting() {
      width: 100%;
      height: 13rem;
      align-items: center;
    }
  }
  width: 100%;

  .request__button {
    @include flex_item(column,nowrap);

    .button {
      color: map-get($default_color,"nav");
    }
    align-items: end;
    @include iphone_setting() {
      align-items: center;
    }
    @include ipad_setting() {
      @include center();
    }
  }

  .attribution {
    grid-area: maker;
    padding: 2rem;
    font-size: 11px;
    text-align: center;
    @include iphone_setting() {
      margin: 0 3rem 0 2rem;
    }
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
